.header {
    overflow: hidden;
    background-color: #433E35;
    padding: 20px 10px;
}

.header a {
  float: left;
  color: #F2F2F0;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.home-title {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #8C8A88;
  color: black;
}

.header a.active {
  color: #E6BDAA;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
