footer{
    background: #AEFF14;
}
h1 {
    font-family: sans-serif;
    color: grey;
    text-decoration: underline;
    text-decoration-color: #AEFF14;
}
h2{
    text-align: center;
    font-size: 15px;
    color: black;
    font-family: sans-serif;
}
p{
    text-align: justify;
    font-family: sans-serif;
    color: grey;
}
body {
  width: 100%;
  height: 100%;
  background-color: black;
}
/**HEADER**/
.header {
    overflow: hidden;
    background-color: black;
    padding: 10px 10px;
}

.header a {
    float: left;
    color: #F2F2F0;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    font-family: sans-serif;
}

.header a.home-title {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #AEFF14;
}

.header a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: #AEFF14;
}

.header a.active {
    color: #AEFF14;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

/*HOME PAGE*/

/*NEON SIGN*/

.neon-name{
    padding: 30px;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    flex-flow: right;
}
.valeria{
    font-family: 'Cute Font', cursive;
    color: #AEFF14;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #60FF14;
}
.occhi{
    font-family: 'Cute Font', cursive;
  color: white;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw white;
}
.valeria {
  animation: valeria 1s ease infinite;
  -moz-animation: valeria 1s ease infinite;
  -webkit-animation: valeria 1s ease infinite;
}

@keyframes valeria {
  0%,
  100% {
    text-shadow: 0 0 1vw #60FF14, 0 0 3vw #60FF14, 0 0 10vw #60FF14, 0 0 10vw #60FF14, 0 0 .4vw #AEFF14, .5vw .5vw .1vw #318014;
    color: rgb(201, 255, 99);
  }
  50% {
    text-shadow: 0 0 .5vw #95db11, 0 0 1.5vw #95db11, 0 0 5vw #95db11, 0 0 5vw #95db11, 0 0 .2vw #95db11, .5vw .5vw .1vw #45a719;
    color: #468014;
  }
}

.occhi {
  animation: occhi 2s linear infinite;
  -moz-animation: occhi 2s linear infinite;
  -webkit-animation: occhi 2s linear infinite;
  -o-animation: occhi 2s linear infinite;
}

@keyframes occhi {
  0%,
  100% {
    text-shadow: 0 0 1vw white, 0 0 3vw white, 0 0 10vw white, 0 0 10vw white, 0 0 .4vw grey, .5vw .5vw .1vw grey;
    color: #b1aeae;
  }
  50% {
    text-shadow: 0 0 .5vw whitesmoke, 0 0 1.5vw whitesmoke, 0 0 5vw whitesmoke, 0 0 5vw whitesmoke, 0 0 .2vw whitesmoke, .5vw .5vw .1vw #b2b2b2;
    color: #b1aeae;
  }
}

/**ABOUT ME PAGE**/
.bw-me{
    width: auto;
    height: 60vh;
    padding: 20px;
    grid-area: bw;
}

/*GRID*/

.about-text{
    padding: 20px;
    grid-area: abt-txt;

}

@media screen and (min-width: 500px){
    .about-grid{
        display: grid;
        grid-template-areas: '. bw abt-txt .';
    }
}
@media screen and (max-width: 500px){
    .about-grid{
        display: grid;
        grid-template-areas: '. bw . .'
            '. abt-txt  . .';
    }
}
